@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
}
::-webkit-scrollbar {
  width: 9px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(
    145,
    145,
    145,
    0.499
  ); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Round corners of the scrollbar thumb */
}
.sidebar {
  height: 100vh;
  padding: 5vh 5vw;
  max-width: 150px;
  display: flex;
  position: sticky;
  top: 0;
  backdrop-filter: blur(95px);
  align-items: center;
  flex-direction: column;
  border-right: 1px solid #d7d7d7;
}
.logo {
  font-size: 20px;
  font-weight: 700;
  color: #111111;
}
.add-note {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #111111;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 13vh;
  transition: box-shadow 0.5s;
}
.add-note:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.edit-note-btn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #111111;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.bouce-animation {
  animation: button-bounce 0.5s;
}

.search-div {
  top: 0;
  width: 100%;
  padding: 4vh 5vh;
  background-color: rgba(255, 255, 255, 0.923);
  display: flex;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 6px 8px 10px rgba(255, 255, 255, 0.923);
  position: sticky;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search {
  border: none;
  padding: 10px 10px;
  font-size: 18px;
  width: 60vw;
  background: none;
  font-weight: 400;
}
.search:focus-visible {
  outline: none;
}
h1 {
  padding: 0 5vh;
}
.notes-container {
  padding: 4vh 5vh;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  backdrop-filter: blur(10px);
}

.note {
  min-height: 230px;
  min-width: 230px;
  width: 19vw;
  height: 19vw;
  position: relative; /* Necessary for positioning the pseudo-element */
  padding: 20px;
  border-radius: 12px;
  background-color: rgb(211, 229, 246);
  transition: all 0.3s;
}

.note:hover {
  box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.137);
}

.note-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.date-div {
  position: relative;
  top: 3px;
}

.note-content p {
  font-size: 18px;
  font-weight: 500;
  height: 68%;
  overflow: hidden;
}
.note-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.notes-div {
  width: 100%;
}

.colors-btn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  position: absolute;
  top: 13vh;
  scale: 1;
  z-index: -1;
  transition: all 0.3s;
}
.colors-btn:hover {
  scale: 1.2;
  border: 1.7px dotted black;
  transition: all 0.3s;
  animation: button-bounce-color 1s infinite;
}

@keyframes button-bounce-color {
  0% {
    transform: scale(1);
    rotate: 0deg;
  }
  50% {
    transform: scale(1.1);
    rotate: 180deg;
  }
  100% {
    transform: scale(1);
    rotate: 360deg;
  }
}

.colors-btn:active {
  filter: brightness(1.3);
}

.colors-btn.one-color {
  background-color: #ffdd1d;
}
.colors-btn.color-two {
  background-color: #edac80;
}
.colors-btn.color-three {
  background-color: #cbaaff;
}
.colors-btn.color-four {
  background-color: #42d0ff;
}
.colors-btn.color-five {
  background-color: #9afa8f;
}

/* add animation of bounce */

@keyframes button-bounce {
  0% {
    transform: scale(1);
    top: 13vh;
  }
  50% {
    transform: scale(1.2);
    top: 12vh;
  }
  100% {
    transform: scale(1);
    top: 13vh;
  }
}

.colorful {
  border-radius: 50%;
  position: absolute;
  top: 13vh;
  left: -75vw;
  width: 80%;
  height: 80%;
  background-color: rgba(255, 59, 59, 0.5);
  z-index: -99;
  backdrop-filter: blur(10px);
  transform: scale(0.7); /* Use transform for scaling */
  opacity: 0;
  transition: all 700ms, transform 600ms; /* Smooth transition for opacity and transform */
}

.colorful.active {
  border-radius: 0%;
  opacity: 1;
  transform: scale(1); /* Use transform for scaling */
}
/* dialog */

dialog {
  height: 70vh;
  overflow: hidden;
  width: 70vw;
  position: relative;
  background: #ffffff;
  top: 10vh;
  left: 15vw;
  border: none;
  box-shadow: 1px 2px 20px 17px #00000017;
  border-radius: 13px;
}

#note_textarea {
  width: 100%;
  height: 75%;
  font-size: 24px;
  border: none;
  resize: none;
  outline: none;
  padding: 20px;
}

.preview-modal-text {
  width: 100%;
  height: 90%;
  overflow: auto;
  font-size: 24px;
  border: none;
  resize: none;
  outline: none;
  padding: 20px;
}
.preview-modal-text::before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  content: "";
  box-shadow: inset -1px -55px 11px 14px black;
}

.close-note-btn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #000000;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 9px;
  right: 15px;
  z-index: 999;
}
.delete-note-btn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #000000;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 9px;
  right: 68px;
  z-index: 999;
}
.save-note-btn {
  border-radius: 61px;
  background-color: #000000;
  border: none;
  padding: 9px 15px 9px 7px;
  font-size: 30px;
  cursor: pointer;
  color: white;
  position: absolute;
  bottom: 9px;
  gap: 7px;
  display: flex;
  align-items: center;
  right: 15px;
  font-size: 17px;
  z-index: 999;
}

.save-edited-note-btn {
  border-radius: 61px;
  background-color: #000000;
  border: none;
  padding: 9px 15px 9px 7px;
  font-size: 30px;
  cursor: pointer;
  color: white;
  position: absolute;
  bottom: 9px;
  gap: 7px;
  display: flex;
  align-items: center;
  right: 15px;
  font-size: 17px;
  z-index: 999;
}

dialog h2 {
  background-color: #c0ffb387;
  backdrop-filter: blur(10px);
  color: rgb(0, 0, 0);
  padding: 15px 25px;
}

button:hover {
  scale: 1.1;
  transition: all 0.3s;
}

.tell_user_modal {
  position: absolute;
  top: 2.5vh;
  left: 40vw;
  padding: 12px;
  border-radius: 9px;
  color: white;
  background-color: rgba(22, 22, 22, 0.903);
  backdrop-filter: blur(10px);
  z-index: 99999;
  display: none;
}

/* query params for mobile screen */

@media only screen and (max-width: 576px) {
  body {
    flex-direction: column;

  }
  .sidebar {
    height: unset;
    padding: 1vh 2vw;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    top: 0;
    backdrop-filter: blur(95px);
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid #d7d7d7;
  }
  .add-note{
    position: unset;
  }
  .logo{
    font-size: 24px;
  }
  .search-div{
    padding: 0vh 2vh;
    background: #ececec;
    border-radius: 36px;
    max-width: 96vw;
    margin: 7px 0;
  }
  h1{
    display: none;
  }
  .colors-btn{
    display: none;
  }
  .notes-container{
    padding: 2vw;
  }
  .note{
    width: 100%;
  }
  .colorful{
    filter: blur(50px);
  }
}
